@{
    ViewData["Title"] = "Player";
    <div class = "col ">
        <div class = "row">
            <img src="/aplausos.png" class = "mx-auto aplausos"><img src="/aplausos.png" class = "mx-auto aplausos"><img src="/aplausos.png" class = "mx-auto aplausos"><img src="/aplausos.png" class = "mx-auto aplausos"><img src="/aplausos.png" class = "mx-auto aplausos"><img src="/aplausos.png" class = "mx-auto aplausos"><img src="/aplausos.png" class = "mx-auto aplausos"><img src="/aplausos.png" class = "mx-auto aplausos">
        </div>
        <div class = "row">
            
            <div class = "container-sm floatCenter border border-light fondoOPC textBoton rounded-pill">
                <h1 class = "textCenter fontMillonario interletrado m-4"> Felicidades!</h1>
            </div>   
        </div>
        
    </div>  
    
} 