@{
    ViewData["Title"] = "Player";
    <div class = "col">
        <div class = "row">
            <img src = "conductor.jpg">   
        </div>
        <div class = "row">
            <div class = "col">
            </div>
            <div class = "col">
                <form method = "post" action = '@Url.Action("GuardarUsuario", "Home")'>
                <input type = "hidden" name = "IdUsario" value = "@ViewBag.Jugadores.IdJugador"> 
                    <div class = "row" style = "margin:2%;">
                        <div style = "font-family:impact; font-size:30px; color:#593b94;">Nombre:</div><input type = "text" name = "Nombre">
                    </div>
                <div class="container justify-content-center">
                    <button type="submit" class="btn btn-md " style = "background-color:#29194a; color:white ">Submit</button>
                </div>
                </form> 
            </div>
            <div class = "col">
            </div>
            
        </div>
    </div>  
} 