@{
    <div class = "container-fluid fontMillonario interletrado">
        <div class="row">
            <div class="col-2">
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton interletrado">Comodin</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton interletrado">Comodin</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton interletrado">Comodin</button>
                </div>

            </div>
            <div class="col-8">
                <div class ="row-lg">
                    <div class = "col-12 m-20 d-flex justify-content-center">
                        <p class="display-2 textCenter interletrado">La pregunta va a ir acá </p>
                        
                    </div>
                </div>

                <div class = "row row-cols-2 ">
                    <button type="button" class="btn-lg btn-primary fondoOPC border border-primary interletrado">Respuesta 1</button>
                    <button type="button" class="btn-lg btn-primary fondoOPC border border-primary interletrado">Respuesta 2</button>
                    <button type="button" class="btn-lg btn-primary fondoOPC border border-primary interletrado">Respuesta 3</button>
                    <button type="button" class="btn-lg btn-primary fondoOPC border border-primary interletrado">Respuesta 4</button>
                </div>

                
            </div>
            <div class="col-2">
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">1000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">2000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoBC interletrado">5000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">7000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoB interletrado">10000</button>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <button type="button" class="btn fondoBoton textBoton tamanoBC interletrado">12000</button>
                </div>    
            </div>
        </div>
        
    </div>
    <div class= "row mt-5">
        <div class="col d-flex justify-content-center mt-10"><button type="button" class="btn bg-danger textBoton tamanoB interletrado">PLANTARSE</button></div>
        <div class="col d-flex justify-content-center mt-10"><button type="button" class="btn bg-success textBoton tamanoB interletrado">SIGUIENTE</button></div>
    </div>
    
}