@{

    <div class = "container-fluid floatCenter">
        <div class="row">
            <div class="col-2">
                <img src="/fuegosArtificiales.png" alt="" class="setentaPerc floatL">
            </div>
            <div class="col-8">
                <div class = "floatCenter border border-light fondoOPC textBoton rounded-pill m-5 p-2">
                    <h3 class = "textCenter fontMillonario interletrado m-1"> @ViewBag.Player: Ya tenes ganado $@ViewBag.Player.PozoGanado ¿Te animas a seguir por más?</h3>
                </div>
            </div>
            <div class="col-2">
                <img src="/fuegosArtificiales.png" alt="" class="setentaPerc floatR">
            </div>
        </div>
        
        
        
    </div>
    <div class = "container-sm  mt-5">
        <div class= "row mt-5">
            <div class="col d-flex justify-content-center mt-10"> 
                <a href='@Url.Action("FinDelJuego","Home")'><button type="button" class="btn bg-danger textBoton tamanoB interletrado">PLANTARSE</button></a>
            </div>
            <div class="col d-flex justify-content-center mt-10">
                <a href='@Url.Action("Pregunta","Home")'><button type="button" class="btn bg-success textBoton tamanoB interletrado">SIGUIENTE</button></a>
            </div>
        </div>
    </div>
}