@{
    
    <div class = "container floatCenter border border-light fondoOPC textBoton rounded-pill">
        <h1 class = "textCenter fontMillonario interletrado m-4"> Está basado en preguntas con 4 respuestas cada una. Ofrece grandes premios monetarios por responder correctamente 
        a una serie de preguntas con dificultad creciente. En caso que no sepas la respuesta de alguna, habrá comodines que te podrán ayudar.</h1>

        
    </div> 
    <div class = "d-flex justify-content-center m-5">
       <a href = '@Url.Action("Player","Home")'><button type="button" class="btn fondoBoton textBoton fontMillonario interletrado">Comenzar el juego</button></a>     
        </div>
    }