html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #d2a727      ;
}
.Logo
{
  width:40%;
}
.Barra{
  background-color: #29194a    !important;
}
.fondoBoton{
  background-color:#29194a;
}

.textBoton{
  color:white;
}

.fondoFooter{
  background-color: #f8e8b8  ;
}
.fondoImg{
  background-image: "estudio.jpg";
}

.tamanoBC{
  width:70%;
    background-color: #593b94;

}

.tamanoB{
  width:50%;
}

.setentaPerc
{width: 85%;}

.fondoOPC{
  background-color:#3c608b;
}
.centrarImg{display: block; padding-left: 50%;}

.textCenter{
  text-align: center;
}

.fontMillonario{
  font-family: 'Copperplate Condensed SSi';
}

.interletrado{
  letter-spacing: 2.5px;
}

.floatCenter{
  float: center;
}

.floatR{
  float: right;
}
.floatL{
  float: left;
}

.aplausos{
  width:10%;
}

.btn-bd-username {
  font-size: 200%;
  letter-spacing: 2px;
  color: #ffe484;
  border-color: #ffe484;}

  
    
  